.sidebar-info{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}

.photo{
    display: flex;
    align-items: center;
}

.image-perfil{
    width: 50px;
    border-radius: 50%;
}

.salir{
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.icon{
    cursor: pointer;
    transform: scale(1.5);
    border-radius: 50%;
    padding: .4rem;
    transition: all .2s ease-in-out;
}

.icon:hover{
    background-color: rgba(128, 128, 128, 0.342);
}

.menu{
    position: absolute;
    background-color: white;
    list-style: none;
    right: calc(10px);
    bottom: calc(-2.8rem - 40px);
    width: 200px;
    border: 2px solid rgba(101, 189, 211, 0.644);
}

.menu li{
    padding: .7rem 1rem;

}

.menu li:hover{
    background-color: rgba(128, 128, 128, 0.349);
    
}