<div class="sidebar-info">
    <div class="photo">
        <div class="image-box">
            <img [src]="authService.user.imageUrl ?? '../../../../assets/no-perfil.jpg'" alt="perfil" class="image-perfil">
        </div>
        <h3 class="name" >{{authService.user.name}}</h3>
    </div>
    <div class="salir">
        <mat-icon (click)="handleOptions()" class="icon" >more_horiz</mat-icon>
        <ul *ngIf="isOptionsActive" class="menu" >
            <li (click)="handlePerfil()" >Perfil</li>
            <li (click)="logout()">Salir</li>
        </ul>
    </div>
</div>