.sidebar-info{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
    background-color: #202c33;
}

.photo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.image-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.image-box{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.image-perfil{
    width: 100%;
    height: 100%;
}

@supports(object-fit: cover){
    .image-perfil{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.salir{
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    
}
.salir > p{
    position: absolute;
    margin: 0;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(101, 189, 211);
}

.solicitud-parrafo{
    font-weight: bold;
    font-size: 18px;
    color: rgb(101, 189, 211) !important;
}

.icon{
    cursor: pointer;
    transform: scale(1.5);
    border-radius: 50%;
    padding: .4rem;
    transition: all .2s ease-in-out;
    color: white;
}

.icon:hover{
    background-color: rgba(128, 128, 128, 0.342);
}

.menu{
    position: absolute;
    background-color: #25343d;
    list-style: none;
    right: calc(10px);
    bottom: calc(-2.8rem - 40px);
    width: 200px;
    border: 1px solid rgba(101, 189, 211, 0.644);
}

.menu li{
    padding: .7rem 1rem;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    display: flex;
    justify-content: space-between;
}

.menu > li > p{
    color: white;
    margin: 0;
}

.menu li:hover{
    background-color: rgba(128, 128, 128, 0.349);
    
}

.name{
    margin: 0;
    padding-left: 0.5rem;
    color: white;
}