.perfil{
    width: 100%;
    height: 100%;
    background-color: #111b21;
    display: flex;
    flex-direction: column;
}

.bar{
    width: calc(100% - 2rem);
    height: 40px;
    background-color: #202c33;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.bar p{
    font-size: 22px;
    width: 80%;
    margin: 0;
    font-weight: bold;
    color: white;
}

.icon-box{
    width: 20%;
}

.icon{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
}

.foto{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image-box{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
}

.image-perfil{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.image-perfil:hover{
    filter: brightness(0.5);
}

@supports(object-fit: cover){
    .image-perfil{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
}

.image-box:hover ~ div{
    opacity: 1;
}

.file{
    display: none;
}

.inputs{
    width: calc(100% - 2rem);
    padding: 1rem;
}

.name h2{
    color: rgb(101, 189, 211);
    font-weight: 500;
}

.name h1{
    margin: 0;
    color: white;
}

.name-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
    height: 45px;
}

.name-change{
    display: none;
    padding: 0.5rem;
    height: 45px;
    transition: all 0.2s ease-in-out;
    transform: translateX(-150%);
    flex-direction: column;
}

.name-change input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
    background-color: #111b21;
    color: white;
}


.name-change input:focus{
    outline: none;
}

.password h1{
    margin: 0;
    color: white;
}

.password h2{
    margin-top: 2rem;
    color: rgb(101, 189, 211);
}

.password-value{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.password-change{
    display: none;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    transform: translateX(-150%);
}

.password-change input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
    background-color: #111b21;
    color: white;
}

.password-change input:nth-child(3){
    margin-top: 3rem;
}

.password-change button{
    margin-top: 1rem;
    background-color: rgb(101, 189, 211);
    color: white;
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.274);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.password-change button:hover{
    background-color: rgb(63, 181, 211);;
}
.password-change p{
    color: rgb(236, 104, 104);
    font-size: 16px;
    font-weight: bold;
}


.password-change input:focus{
    outline: none;
}

.edit-icon{
    border-radius: 50%;
    transform: scale(1.1);
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    color: white;
}

.edit-icon:hover{
    background-color: rgba(128, 128, 128, 0.384);
    transform: scale(1.3);
}

.edit-icon-2{
    margin-bottom: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
    color: white;
}