<div (click)="select(contact.uid)" class="contact" [ngClass]="contact.uid === chatService.chatSelected ? 'active' : '' ">
    <div class="photo">
        <div class="image-box">
            <img [src]="contact.imageUrl?.small ?? '../../../../assets/no-perfil.jpg'" alt="perfil" class="image-perfil">
        </div>
    </div>
    <div class="contact-info">
        <p class="name">{{contact.name}}</p>
        <span class="writing" *ngIf="isWriting && whoWrite === contact.uid; else onlineState">
            <div class="dot-flashing"></div>
            Escribiendo
        </span>
        <ng-template #onlineState>
            <span *ngIf="contact.online, else offline" class="online">Online</span>
            <ng-template #offline>
                <span class="offline">Offline</span>
            </ng-template>
        </ng-template>
    </div>
</div>
