.perfil{
    width: 100%;
    height: 100%;
    background-color: #111b21;
    display: flex;
    flex-direction: column;
}

.bar{
    width: 100%;
    height: 50px;
    background-color: #202c33;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.bar p{
    font-size: 22px;
    width: 80%;
    margin: 0;
    font-weight: bold;
    color: white;
    text-align: center;
}

.icon-box{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    transition: color .1s ease-out;
}

.icon:hover{
    color: #005c4b;
}

.line{
    width: 1px;
    background-color: rgba(128, 128, 128, 0.5);
    height: 80%;
}

.foto{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image-box{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
}

.image-box2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.image-perfil{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.image-perfil2{
    width: 100%;
    height: 100%;
}

.image-perfil:hover{
    filter: brightness(0.5);
}

@supports(object-fit: cover){
    .image-perfil{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .image-perfil2{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
}

.image-box:hover ~ div{
    opacity: 1;
}

.file{
    display: none;
}

.inputs{
    width: calc(100% - 2rem);
    padding: 1rem;
}

.name{
    margin: 0;
    margin-left: 1rem;
    text-align: start;
    color: white;
}

.userName h2{
    color: #007a64;
    font-weight: 500;
    margin: 0;
}

.group-users{
    height: 400px;
    max-height: 400px;
}

.group-users h2{
    color: #007a64;
    font-weight: 500;
    margin: 0;
}

.group-users-box{
    height: 90%;
    overflow-y: scroll;
}

.group-users-box::-webkit-scrollbar {
    -webkit-appearance: none;
}

.group-users-box::-webkit-scrollbar:vertical {
    width: 5px;
}

.group-users-box::-webkit-scrollbar-thumb {
    background-color: #005c4b;
    border-radius: 20px;
}

.userName div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
    height: 45px;
}

.userName h1 {
    margin-bottom: 2rem;
    color: white;
}

.card{
    width: calc(100% - 2rem);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.line3{
    width: 90%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.39);
    margin: auto;
    position: absolute;
    bottom: 0;
}

.image{
    display: flex;
    align-items: center;
}