.sidebar{
    width: 100%;
    /* background-color: blueviolet; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info{
    height: 10%;
    width: 100%;
}

.search{
    height: 5%;
    width: 100%;
}

.box-contact{
    height: 85%;
    width: 100%;
}