.inbox-box{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    display: flex;
    background-color: #1d252b;
    align-items: center;
}

.image{
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
    margin-left: 1rem;
}

.name{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.name > p{
    margin: 0 !important;
    color: white;
}

.search-button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.image-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.image-box{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.image-perfil{
    width: 100%;
    height: 100%;
}

.back-icon{
    color: white;
    transform: scale(1.3);
    padding: 0.5rem;
    cursor: pointer;
}

@supports(object-fit: cover){
    .image-perfil{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}