<div class="container">
  <div class="box-register">
    <h1 class="title">Register</h1>
    <form (submit)="register()" class="form">
      <div class="control">
        <input
          class="input"
          [(ngModel)]="user.name"
          name="name"
          type="text"
          placeholder="Name"
          required
        />
      </div>
      <div class="control">
        <input
          class="input"
          [(ngModel)]="user.email"
          name="email"
          type="text"
          placeholder="Email"
          required
        />
      </div>
      <div class="control">
        <input
          class="input"
          [(ngModel)]="user.password"
          name="password"
          type="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="control-2">
        <label class="register" (click)="goToLogin()">¿Ya tienes cuenta?</label>
      </div>
      <button class="btn" type="submit" *ngIf="!isLoading; else loading">
        Registrarse
      </button>
      <ng-template #loading>
        <button class="btn" type="submit">
          <p class="alert_text1">.</p>
          <p class="alert_text2">.</p>
          <p class="alert_text3">.</p>
          <p class="alert_text4">.</p>
          <p class="alert_text5">.</p>
        </button>
      </ng-template>
    </form>
  </div>
</div>
