.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 225, 253);
}

.box-register{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 4rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
    text-align: center;
    border-radius: 5px;
}

.form{
    width: 100%;
}

.control{
    margin: 1.5rem 0;
    width: 100%;
}

.control-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.input{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: rgba(128, 128, 128, 0.158);
    font-size: 20px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

input:focus{
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}

.input::placeholder{
    font-size: 20px;
}

.btn{
    width: 100%;
    height: 40px;
    margin: 1.5rem 0;
    border: none;
    background-color: rgb(102, 173, 255);
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: rgb(79, 159, 250);
}

.register{
    color: rgb(0, 119, 255);
    cursor: pointer;
}

.remember-box{
    display: flex;
}

#remember{
    margin-right: 5px;
}

.alert_text1{
    font-size: 35px;
}
.alert_text2{
    font-size: 35px;
    animation: suspensive2 2.5s infinite;
}
.alert_text3{
    font-size: 35px;
    animation: suspensive3 2.5s infinite;
}
.alert_text4{
    font-size: 35px;
    animation: suspensive4 2.5s infinite;
}
.alert_text5{
    font-size: 35px;
    animation: suspensive5 2.5s infinite;
}

@keyframes suspensive2 {
    0% {
        opacity: 0;
    }
    19% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}
@keyframes suspensive3 {
    0% {
        opacity: 0;
    }
    39% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes suspensive4 {
    0% {
        opacity: 0;
    }
    59% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}
@keyframes suspensive5 {
    0% {
        opacity: 0;
    }
    79% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

@media screen and (max-width: 670px){
    .box-register{
        padding: 2rem;
    }
}