.box-chat{
    display: flex;
    background-color: #111b21;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
}

.box1{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullwidht{
    width: 100%;
}

.box2{
    display: flex;
    width: 30%;
    min-width: 300px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(128, 128, 128, 0.116);
}

.box3{
    display: flex;
    width: 30%;
    min-width: 300px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(128, 128, 128, 0.116);
}

.head{
    height: 5%;
    width: 100%;
}

.messages{
    position: relative;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.messages::-webkit-scrollbar {
    -webkit-appearance: none;
}

.messages::-webkit-scrollbar:vertical {
    width: 5px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #005c4b;
    border-radius: 20px;
}

.form{
    height: 5%;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.356);
}

.search-head{
    height: 5%;
    width: 100%;
}

.search-form{
    height: 5%;
    width: 100%;
}

.search-results{
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.box-message{
    transition: background 0.5s ease-out;
    /* background-color: #4a99579a; */
}

.unread-messages{
    position: sticky;
    left: 2rem;
    bottom: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(66, 73, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #1bd136;
}

.number{
    position: absolute;
    background-color: #1bd136;
    height: 20px;
    width: 20px;
    font-size: 16px;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    transform: scale(1.5);
}

.fullScreen{
    width: 100%;
}

.disabled{
    display: none !important;
}

.chat-info{
    width: 100%;
}