<div class="box-chat">
    <div class="box1" [ngClass]="!usersService.isOpenSearchMessage ? 'fullwidht' : ''">
        <div class="head">
            <app-chat-inbox-head [chatUserInfo]="chatService.chatUser" ></app-chat-inbox-head>
        </div>
        <div class="messages">
            <div class="box-message" *ngFor="let message of chatService.currentChat" [id]="message.msgId">
                <div class="send" *ngIf="message.to == chatService.chatSelected; else recived">
                    <app-message-sent (doScroll)="doScroll()" [message]="message" ></app-message-sent>
                </div>
                <ng-template #recived class="received" >
                    <app-message-received (doScroll)="doScroll()" [message]="message" ></app-message-received>
                </ng-template>
            </div>
            <div (click)="pendingMessages()" *ngIf="socketService.waitMessages > 0" class="unread-messages" >
                <mat-icon class="icon" >keyboard_arrow_down</mat-icon>
                <p>{{socketService.waitMessages}}</p>
            </div>
        </div>
        <div class="form">
            <app-chat-form></app-chat-form>
        </div>
    </div>
    <div *ngIf="usersService.isOpenSearchMessage" class="box2">
        <div class="search-head">
            <app-search-message-head></app-search-message-head>
        </div>
        <div class="search-form">
            <app-search-message-form></app-search-message-form>
        </div>
        <div class="search-results">
            <app-search-message-results></app-search-message-results>
        </div>
    </div>
</div>
