.box-chat{
    display: flex;
    /* background-color: burlywood; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head{
    height: 5%;
    width: 100%;
}

.messages{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.form{
    height: 5%;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.356);
}