.head{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #1d252b;
    align-items: center;
}

.close{
    width: 10%;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.text{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text > h2{
    margin: 0;
    color: white;
}