.head{
    width: 100%;
    height: 100%;
    background-color: #202c33;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.head p{
    font-size: 22px;
    width: 80%;
    margin: 0;
    font-weight: bold;
    color: white;
    text-align: center;
}

.close{
    width: 10%;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.text{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text > h2{
    margin: 0;
    color: white;
}

.icon-box{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    transition: color .1s ease-out;
}

.icon:hover{
    color: #005c4b;
}

.line{
    width: 1px;
    background-color: rgba(128, 128, 128, 0.5);
    height: 80%;
}