.card{
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border-top: 1px solid rgba(128, 128, 128, 0.356);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.card:hover{
    background-color: rgba(128, 128, 128, 0.144);
}

.message{
    text-overflow: ellipsis;
    overflow: hidden;
}

/* .date{

} */