/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300;400&family=Roboto+Serif:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Serif";
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
